//@bkz https://github.com/chinchang/hint.css

$yaziBoyutu: 12px;

$dikeyDolgu: 8px;
$yatayDolgu: 10px;

// varsayılan tooltip yüksekliği
$tooltipYuksekligi: $yaziBoyutu + 2 * $dikeyDolgu !default;
// tooltip oku için kenar genişliği
$okKenarGenisligi: 6px !default;
// yatay ok offseti
$okOffsetX: 3 * $okKenarGenisligi !default;
// metin gölgesi karartma yüzdesi
$metinGolgeleriKarartmaMiktari: 25% !default;
// geçiş mesafesi
$gecisMesafesi: 8px !default;
// tooltipler için z-index
$zIndex: 1000000 !default;
// Çeşitli renkler
// Varsayılan renk siyahımsı
$varsayilanRenk: #69738a !default;
// Hata rengi
$hataRengi: hsl(1, 40%, 50%) !default;
// Uyarı rengi
$uyariRengi: hsl(38, 46%, 54%) !default;
// Bilgi rengi
$bilgiRengi: hsl(200, 50%, 45%) !default;
// Başarı rengi
$basariRengi: hsl(121, 32%, 40%) !default;

[data-title] {
  &:before, &:after {
    position: absolute;
    @include vendor('transform', translate3d(0, 0, 0));
    display: none;
    opacity: 0;
    z-index: $zIndex;
    pointer-events: none;

    // @include vendor('transition', opacity 0.3s ease 0);
    // @include vendor('transition-delay', 0);

    top: 110%;
    right: 50%;
  }

  &:hover:before, &:hover:after {
    display: block;
    opacity: 1;
  }

  // Üst ok
  &:before {
    content: '';
    position: absolute;
    background: transparent;
    border: $okKenarGenisligi solid transparent;
    z-index: $zIndex + 1;
    margin-top: -2 * $okKenarGenisligi;
    border-bottom-color: $varsayilanRenk;
    margin-right: -1 * $okKenarGenisligi;
  }

  /**
   * tooltip gövdesi
   */
  &:after {
    content: attr(data-title); // Sihir!
    background: $varsayilanRenk;
    color: white;
    padding: $dikeyDolgu $yatayDolgu;
    font-size: $yaziBoyutu;
    line-height: $yaziBoyutu; // Dikey ortalama.
    white-space: nowrap; // Yeni satıra geçmeyi önler.
    margin-right: -1 * $okOffsetX;
    border-radius: 2px;
  }
}

.dikey [data-title] {
  &:before, &:after {
  top: 0%;
  right: 200%;
  }

  // Sağ ok
  &:before {
  border: $okKenarGenisligi solid transparent;
  border-left-color: $varsayilanRenk;
  margin-top: $dikeyDolgu;
  margin-right: -1 * ($okOffsetX + 2 *  $okKenarGenisligi);
  }
}
