// Renk Değişkenleri
$renk-marka-birincil: #447adb;
$renk-marka-vurgu: #1d3b84;

$renk-arka-plan-temel: #f3f3f3;
$renk-arka-plan-açık: #fff;
$renk-arka-plan-daha-koyu: #e0e2e5;
$renk-marka-tint: #a9b3c7;
$renk-arka-plan-ipucu: #edf1f8;
$renk-arka-plan-dikkat: #fee186;

$renk-tıklama: #69738a;
$renk-çizgiler: #ccc;
$renk-inline-kod: #db44a5;
$renk-sönük-metin: #777;

// Statik URL
$statik-url: "/static";
$font-url: "#{$statik-url}/plotlyjs/src/fonts";

// Z-Index
$zIndex: 1001;
